{% extends 'home/base.html' %}
{% block title %}Change Password{% endblock %}
{% block body %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card" style="box-shadow: 1px 1px 10px rgb(195, 195, 195);">
                <div class="card-body">
                    <h1 class="text-center mb-5">Change Password</h1>
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-outline-success form-control fs-5 mb-3">Change Password</button>
                        <a href="{% url 'home:home' %}" class="btn btn-secondary form-control fs-5"> <i
                                class="bi bi-caret-left-square-fill me-3"></i>Back to Home</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    const old_pass = document.getElementById('id_old_password');
    const new_pass1 = document.getElementById('id_new_password1');
    const new_pass2 = document.getElementById('id_new_password2');
    old_pass.focus();
    old_pass.classList.add('form-control');
    new_pass1.classList.add('form-control');
    new_pass2.classList.add('form-control');
    old_pass.classList.add('mb-3');
    new_pass1.classList.add('mb-3');
    new_pass2.classList.add('mb-3');
    const errors = document.querySelectorAll('.errorlist')
    if (errors.length > 0) {
        errors.forEach(error => {
            error.style.color = 'red';
        });
    }
</script>
{% endblock %}